<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gs.admin.system.mapper.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.gs.admin.system.dto.SysUser">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <id column="USERID" jdbcType="VARCHAR" property="userid" />
    <result column="CREATEDBY" jdbcType="VARCHAR" property="createdby" />
    <result column="CREATEDTIME" jdbcType="TIMESTAMP" property="createdtime" />
    <result column="UPDATEDBY" jdbcType="VARCHAR" property="updatedby" />
    <result column="UPDATEDTIME" jdbcType="TIMESTAMP" property="updatedtime" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, USERID, CREATEDBY, CREATEDTIME, UPDATEDBY, UPDATEDTIME, USERNAME, PASSWORD
  </sql>
  <select id="selectByExample" parameterType="com.gs.admin.system.dto.SysUserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.gs.admin.system.dto.SysUserKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_user
    where ID = #{id,jdbcType=INTEGER}
      and USERID = #{userid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.gs.admin.system.dto.SysUserKey">
    delete from sys_user
    where ID = #{id,jdbcType=INTEGER}
      and USERID = #{userid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.gs.admin.system.dto.SysUserExample">
    delete from sys_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gs.admin.system.dto.SysUser">
    insert into sys_user (ID, USERID, CREATEDBY, 
      CREATEDTIME, UPDATEDBY, UPDATEDTIME, 
      USERNAME, PASSWORD)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=VARCHAR}, #{createdby,jdbcType=VARCHAR}, 
      #{createdtime,jdbcType=TIMESTAMP}, #{updatedby,jdbcType=VARCHAR}, #{updatedtime,jdbcType=TIMESTAMP}, 
      #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gs.admin.system.dto.SysUser">
    insert into sys_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="userid != null">
        USERID,
      </if>
      <if test="createdby != null">
        CREATEDBY,
      </if>
      <if test="createdtime != null">
        CREATEDTIME,
      </if>
      <if test="updatedby != null">
        UPDATEDBY,
      </if>
      <if test="updatedtime != null">
        UPDATEDTIME,
      </if>
      <if test="username != null">
        USERNAME,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="createdby != null">
        #{createdby,jdbcType=VARCHAR},
      </if>
      <if test="createdtime != null">
        #{createdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedby != null">
        #{updatedby,jdbcType=VARCHAR},
      </if>
      <if test="updatedtime != null">
        #{updatedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gs.admin.system.dto.SysUserExample" resultType="java.lang.Long">
    select count(*) from sys_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sys_user
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null">
        USERID = #{record.userid,jdbcType=VARCHAR},
      </if>
      <if test="record.createdby != null">
        CREATEDBY = #{record.createdby,jdbcType=VARCHAR},
      </if>
      <if test="record.createdtime != null">
        CREATEDTIME = #{record.createdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedby != null">
        UPDATEDBY = #{record.updatedby,jdbcType=VARCHAR},
      </if>
      <if test="record.updatedtime != null">
        UPDATEDTIME = #{record.updatedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.username != null">
        USERNAME = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null">
        PASSWORD = #{record.password,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sys_user
    set ID = #{record.id,jdbcType=INTEGER},
      USERID = #{record.userid,jdbcType=VARCHAR},
      CREATEDBY = #{record.createdby,jdbcType=VARCHAR},
      CREATEDTIME = #{record.createdtime,jdbcType=TIMESTAMP},
      UPDATEDBY = #{record.updatedby,jdbcType=VARCHAR},
      UPDATEDTIME = #{record.updatedtime,jdbcType=TIMESTAMP},
      USERNAME = #{record.username,jdbcType=VARCHAR},
      PASSWORD = #{record.password,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gs.admin.system.dto.SysUser">
    update sys_user
    <set>
      <if test="createdby != null">
        CREATEDBY = #{createdby,jdbcType=VARCHAR},
      </if>
      <if test="createdtime != null">
        CREATEDTIME = #{createdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedby != null">
        UPDATEDBY = #{updatedby,jdbcType=VARCHAR},
      </if>
      <if test="updatedtime != null">
        UPDATEDTIME = #{updatedtime,jdbcType=TIMESTAMP},
      </if>
      <if test="username != null">
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
      and USERID = #{userid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gs.admin.system.dto.SysUser">
    update sys_user
    set CREATEDBY = #{createdby,jdbcType=VARCHAR},
      CREATEDTIME = #{createdtime,jdbcType=TIMESTAMP},
      UPDATEDBY = #{updatedby,jdbcType=VARCHAR},
      UPDATEDTIME = #{updatedtime,jdbcType=TIMESTAMP},
      USERNAME = #{username,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
      and USERID = #{userid,jdbcType=VARCHAR}
  </update>
</mapper>